* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Merriweather', serif;
    background: #0F2027;
    background: -webkit-linear-gradient(to left, #2C5364, #203A43, #0F2027);
    background: linear-gradient(to left, #2C5364, #203A43, #0F2027);
}


.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 24px;
    margin: 52px auto;
    width: 90%;
    height: 620px;
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('./city-rain.jpg');
    background-size: cover;
}

h1 {
    color: #fff;
    font-size: 42px;
    letter-spacing: 2px;
}

.weather-container {
    display: flex;
    height: 400px;
    width: 70%;
    padding: 32px;
    color: #dbdbdb;
}

/* INPUT & LOCATION CONTAINER */
.left-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
    height: 100%;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    font-size: 20px;
}

input {
    margin-top: 12px;
    padding: 12px;
    outline: none;
    background: transparent;
    border-radius: 20px;
    color:#cfcfcf;
    width: 50%;
    transition: width 1s ease;
}

input:focus {
    width: 100%;
}

#location-input::placeholder {
    color: rgb(173, 173, 173);
}

.error-message {
    font-size: 16px;
    color: red;
    display: none;
}

.visible {
    display: block;
}

button {
    margin-top: 8px;
    width: 50%;
    cursor: pointer;
    padding: 8px 8px;
    border: none;
    border-radius: 20px;
    background-color: #2C5364;
    color: skyblue;
    transition: background-color 1s ease;
}

button:hover {
    background-color: rgb(55, 104, 125);
}

.location-container {
    display: flex;
    flex-direction: column;
}

p {
    font-size: 36px;
}

.location {
    font-size: 62px;
    color: #fff;
}

.max-low-temp {
    font-size: 20px;
}

/* WEATHER INFORMATION CONTAINER */
.right-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: end;
    width: 50%;
}

.weather-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    width: 70%;
    height: 100px;
    border-radius: 20px;
    padding: 12px;
    background-color: rgba(128, 128, 128, 0.103);
    transition: all 0.5s ease;
}

.weather-details:hover {
    background-color: rgba(128, 128, 128, 0.325);
    color: #fff;
}

.right-container p {
    font-size: 26px;
}

.right-container span {
    font-size: 18px;
}

/* MEDIA QUERIES */

/* EXTRA LARGE SCREEN */
@media screen and (max-width: 1200px) {
    .weather-container {
        width: 85%;
    }
}

/* LARGE SCREEN */
@media screen and (max-width: 992px) {
    .container {
        min-height: 700px;
    }

    .weather-container {
        width: 95%;
    }

    input,
    button {
        width: 70%;
    }

    .location-container p:first-child {
        font-size: 36px;
    }

    .location {
        font-size: 46px;
    }

    .weather-details {
        width: 100%;
        gap: 8px;
        justify-content: center;
    }
}

/* SMALL SCREEN */
@media screen and (max-width: 576px) {
    .container {
        background-position: center;
        margin: 20px auto;
        min-height: 100vh;
    }

    .weather-container {
        flex-direction: column;
        width: 100%;
        height: 650px;
        padding: 12px;
        gap: 50px;
    }

    .left-container,
    .right-container {
        width: 100%;
        align-items: center;
    }

    .left-container {
        gap: 20px;
    }

    .right-container {
        gap: 12px;
    }
    
    input,
    button {
        width: 100%;
    }

    .location {
        font-size: 50px;
    }

    .location-container p:first-child {
        font-size: 30px;
    }

    .weather-details {
        flex: 0 1 70%;
    }

}

